<%- include("./partials/header") %>
<body>
	<%- include("./partials/nav.ejs") %>
 	<div style="display: flex; justify-content: center; align-items: center; height: 80%; flex-direction: column; gap: 1.5rem;">
		<p style="font-size: 5rem; text-transform: uppercase; font-weight: 800;">404 NOT FOUND</p>
		<p style="">The path <%= path %> does not exist</p>
		<a href="/" style="font-size: 2.5rem; color: #000;">Go Home</a>
	</div>
</body>	